[Unit]
Description=wazo-router-confd server
After=network.target postgresql.service

[Service]
ExecStart=/usr/bin/wazo-router-confd --config-file=/etc/wazo-router-confd/wazo-router-confd.ini

[Install]
WantedBy=multi-user.target
